.main-container {
  margin: 0;
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 3rem;
}

p.success_msg,
p.error_msg {
  display: block;
  width: fit-content;
  max-width: 90vw;
  margin: 0 auto;
  color: $text-color;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  margin-bottom: 2rem;
  & .close {
    margin-left: 2rem;
    cursor: pointer;
  }
}
p.success_msg {
  background-color: $success-color;
}
p.error_msg {
  background-color: $error-color;
}
