include ../template
  block main
    if newarticle
      include ../includes/articles/newarticle_form
    else if articles
      include ../includes/articles/allarticles
    else if formdata
      include ../includes/articles/editarticle