a.logo {
  position: fixed;
  top: 1rem;
  left: 1rem;
  & img {
    width: 35px;
    height: 35px;
  }
}
.user {
  position: fixed;
  top: 1.5rem;
  right: 1rem;
  color: $text-color;
  text-decoration: none;
  outline: none;
  font-weight: 500;
  letter-spacing: 1px;
  transition: color 0.3s;
  cursor: pointer;
  &:hover {
    color: $primary-color;
  }
}
a.user {
  display: none;
  &--show {
    display: block;
    @extend .user;
    right: 1rem;
    top: 3rem;
    font-size: 0.8rem;
  }
}
