form#newproject.form(action="/project/addproject" method="POST")
  .form__icon
    img(src="/assets/img/logo2-blanco-con-bordes.png")
  .form__title
    h1 ★ Añadir proyecto ★
  .form__group
    label.form__label(for="title") Título:
    input.form__user(type="text" id='title' name='title' autofocus)
  .form__group
    label.form__label(for="description") Descripción:
    textarea.form__user(id='description' name='description')
  .form__group
    label.form__label(for="languages") Lenguajes:
    textarea.form__user(id='languages' name='languages')
  .form__group
    label.form__label(for="website") Sitio:
    input.form__user(type="text" id='website' name='website')
  .form__group
    label.form__label(for="frontend") Código Frontend:
    input.form__user(type="text" id='frontend' name='frontend')
  .form__group
    label.form__label(for="backend") Código Backend:
    input.form__user(type="text" id='backend' name='backend')
  .form__group
    input.form__submit(type="submit" value="Añadir proyecto")